*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

/*ヘッダー*/
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;

}
.global-nav {
  position: fixed;
  right: -320px; /* これで隠れる */
  top: 0;
  width: 300px; /* スマホに収まるくらい */
  height: 100vh;
  padding-top: 140px;
  background-color: #fff;
  transition: all .6s;
  z-index: 201;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 40px; /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
  padding-right: 4%;
}
.global-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-nav__item {
    padding: 0 3em;
}
.global-nav__item a {
  display: block;
  padding: 30px;
  font-size: 0.9em;
  font-weight: 600;
  text-decoration: none;
  color: #111;
  letter-spacing: 0.4em;
}
.global-nav__item a:hover {
  background-color: #eee;
}
.hamburger__line {
  position: absolute;
  left: 11px;
  width: 30px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  transition: all .6s;
}
.hamburger__line--1 {
  top: 14px;
}
.hamburger__line--2 {
  top: 20px;
}
.hamburger__line--3 {
  top: 22px;
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}
.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}
.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}
/*ナビ追記（SNSアイコン）*/
.nav_sns_icon ul{
  background-color: brown;
}
.nav_sns_icon .fa-2x{
  color: black;
  margin-top: 20px;
  margin-left: 65px;
  font-size: 1.5em;
}
.nav_sns_icon ul li{
  list-style: none;
  width: 30px;
  height: 30px;
  float: left;
  padding: 10px;
  margin: 1em;
}
/*コンテンツ*/
.season_menu h1 , .food_menu h1 , .drink_menu h1{
    margin: 1.5em;
    font-size: 0.8em;
    letter-spacing: 0.3em;
}
.box1{
    width: 50px;
    height: 1px;
    background-color: rgb(184, 184, 184);
    float: left;
    margin: 9px 19px 0 32px;
}
@media screen and (min-width:768px) {
  .season_menu h1 , .food_menu h1 , .drink_menu h1{
    margin-top: 45px;
  }
}
/*メニューのホーム　*/
.menu_home_image{
    height: 50vh;
    background-color: #504040;
    background-image: url(images/menu-home01.png);
    background-size: cover;
}
.menu_contents{
    padding: 0 40px;
    margin-top: 6em;
}
.menu_line{
    width: 50px;
    height: 50px;
    background: #ffffff;
}
.line{
    background-color: rgb(184, 184, 184);
    width: 35px;
    height: 1px;
    transform: rotate(135deg);
}
.menu_home{
    height: 45vh;
    background-color: rgb(255, 255, 255);
}
.menu_home h1{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .05em;
    padding-left:0.4em;
}
.menu_home p{
    line-height: 2.5;
    font-size: 0.75em;
    letter-spacing: 0.2em;
    padding-left: 0.4em;
    margin-top: 6em;
}
@media screen and (min-width:768px) {
  .menu_home_image{
    width: 50%;
    height: 100vh;
    background-image: url(images/menu-home-pc.png);
    background-size: cover;
    display: inline-block;
    float: left;
  }
  .menu_contents{
    /* padding: 0; */
    /* margin: 0; */
    height: 100vh;
    width: 40%;
    display: inline-block;
  }
  .menu_line{
    display: inline-block;
    margin-left: 30%;
  }
  .line{
    margin-top: 20vh;
  }
  .menu_home {
    height: 45vh;
    background-color: rgb(255, 255, 255);
    margin-top: 20vh;
    margin-left: 30%;
  }
}
/*季節のおすすめ*/
.season_menu{
    height: 170vh;
    background-color: rgb(255, 255, 255);
}
.season_menu ul li{
    float: left;
    background-color: rgb(224, 224, 224);
    list-style: none;
    margin: 5em 2em 2em 2em;
    width: 350px;
    height: 250px;
}
.sakuraSoda{
  background-image: url(images/sakura-soda03.png);
}
.cake_season{
  background-image: url(images/season_cake03.png);
}
.macaron-sakura{
  background-image: url(images/sakura-macaron01.png);
}
.coffeeJelly{
  background-image: url(images/coffeJelly01.png);
}
.season_menu ul li p{
    margin-top: 19em;
    font-size: 0.8em;
    letter-spacing: 0.15em;
    line-height: 1.8em;
}
.season_copy{
    writing-mode: vertical-rl;
    font-size: 0.8em;
    letter-spacing: 0.6em;
    margin: 0 auto;
    margin-top: 100px;
}
@media screen and (min-width:768px) {
  .season_menu{
    width: 81%;
    height: 90vh;
    margin: 0 auto;
  }
  .season_menu ul{
    margin-top: 70px;
  }
  .season_menu ul li{
    width: 350px;
    height: 350px;
  }
  .season_menu ul li p{
    margin-top: 27em;
  }
  .sakuraSoda{
    background-image: url(images/sakuraSoda02-pc.png);
  }
  .cake_season{
    background-image: url(images/season_cake02-pc.png);
  }
  .macaron-sakura{
    background-image: url(images/sakura-macaron-pc.png);
  }
  .coffeeJelly{
    background-image: url(images/coffeJelly-pc.png);
  }
}
/*フードメニュー*/
.food_menu{
    height: 90vh;
    background-color: rgb(255, 255, 255);
}
.food_menu ul{
    padding: 10px;
}
.food_menu ul li{
    float: left;
    width: 180px;
    height: 125px;
    background-color: rgb(224, 224, 224);
    list-style: none;
    margin: 5em 0.5em 2em 0.5em;
    
}
.food_menu ul li p{
    font-size: 0.8em;
    letter-spacing: 0.15em;
    margin-top: 9em;
}
.macaron{
  background-image: url(images/macaron04.png);
}
.pding{
  background-image: url(images/pding03.png);
}
.ice_cream{
  background-image: url(images/iceCream01.png);
}
@media screen and (min-width:768px) {
  .food_menu{
    width: 50%;
    height: 100vh;
    margin: 0 auto;
  }
  .food_menu ul li{
    width: 340px;
    height: 225px;
  }
  .food_menu ul li p{
    font-size: 0.9em;
    letter-spacing: 0.15em;
    margin-top: 15em;
  }
  .macaron{
    background-image: url(images/macaron03-pc.png);
  }
  .pding{
    background-image: url(images/pding02-pc.png);
  }
  .ice_cream{
    background-image: url(images/iceCream-pc.png);
  }
}
/*ドリンクメニュー*/
.drink_menu{
    height: 115vh;
    background-color: rgb(255, 255, 255);
}
.drink_menu ul{
    padding: 10px;
}
.drink_menu ul li{
    float: left;
    width: 180px;
    height: 125px;
    background-color: rgb(224, 224, 224);
    list-style: none;
    margin: 5em 0.5em 2em 0.5em;
}
.drink_menu ul li p {
  font-size: 0.75em;
  letter-spacing: 0.15em;
  margin-top: 9em;
}
.sky_soda{
  background-image: url(images/soda_sky02.png);
}
.soda{
  background-image: url(images/creamSoda01.png);
}
.mc{
  background-image: url(images/cafeore02.png);
}
.chery_soda{
  background-image: url(images/drink01.png);
}
.remon_soda{
  background-image: url(images/remonSoda.png);
}
.drink_menu ul li p{
    font-size: 14px;
    letter-spacing: 0.15em;
    margin-top: 8em;
}
.other_drink{
    height: 660px;
}
.other_drink ul{
    background-color: rgb(245, 245, 245);
    width: 70%;
    margin:  0 auto;
    padding: 2.6em;
}
.other_drink ul li{
    padding: 15px;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    list-style: none;
    width: 85%;
    border-bottom: 1px solid #e0e0e0;
}
.price{
    float: right;
}
@media screen and (min-width:768px) {
  .drink_menu{
    width: 71%;
    height: 100vh;
    margin: 0 auto;
  }  
  .drink_menu ul li{
    width: 340px;
    height: 225px;
  }
  .drink_menu ul li p {
    font-size: 0.9em;
    letter-spacing: 0.15em;
    margin-top: 15em;
}
  .other_drink{
    width: 81%;
    height: 80vh;
    margin: 0 auto;
  }
.sky_soda{
  background-image: url(images/soda_sky-pc01.png);
}
.soda{
  background-image: url(images/creamSoda-pc.png);
}
.chery_soda{
  background-image: url(images/drink01-pc.png);
}
.remon_soda{
  background-image: url(images/remonSoda-pc.png);
}
.mc{
  background-image: url(images/cafeore-pc01.png);
}
}
/*フッター*/
footer{
  height: 25vh;
  color: #000000;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}
.footer_text ul li p{
  margin-bottom: 0.5em;
  font-size: 0.5em;
  letter-spacing: 0.2em;
  text-align: center;
}
.footer{
  width: 100%;
  text-align: center;
  font-size: 0.85em;
}
.footer p{
  display: inline-block;
  margin-top: 3em;
}
.footer_text{
  float: left;
  width: 100%;
}
.footer_text ul {
  margin: 0 auto;
  width: 50%;
}
.footer_text ul li{
  padding: 0.7em;
  list-style: none;
}
.footer_text ul li span{
  margin-left: 1em;
  font-size: 0.85em;
}
.footer_icon{
  margin: 0 auto;
  display: inline-block;
}
.footer_icon ul li {
  list-style: none;
  float: left;
  margin-left: 25px;
  padding: 1.1em 0;
  font-size: 0.8em;
}
.footer_text ul li p{
  text-align: center;
}
.border{
  width: 100%;
  height: 1px;
  background-color: rgb(189, 189, 189);
  float: left;
  margin-bottom: 2em;
  margin-top: 0px;
}


@media screen and (min-width:768px) {
  footer{
    height: 20vh;
  }
  .footer{
    width: 30%;
    display: inline-block;
  }
  .footer p {
    margin: 0;
  }
  .footer_text{
    width: 70%;
    float: left;
  }
  .footer_text ul {
    margin: 0 auto;
    width: 80%;
    height: 3em;
  }
  .footer_text ul li{
    float: left;
    list-style: none;
    margin: 0 5em;
  }
  .border{
    margin-bottom: 70px;
  }
  .footer_icon{
    width: 30%;
    float: left;
  }
  .footer_icon ul{
    margin-left: 340px;
  }
}
.footer_icon ul li{
  list-style: none;
  float: left;
  margin-left: 20px;
}
.footer_icon ul li a i{
  color: rgb(133, 133, 133);
}
.fa-2x{
color: white;
}